.body{
        font-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 40px;
    position: relative;
    width: 100%;
}

.header img {
    height: 45px;
}

.header i {
    position: absolute;
    right: 100px;
    top: 78px;
    transform: translateY(-100%);
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    gap: 50px;
}

.btn-enorme{
    width: 240px;
    height: 230px;
    border-radius: 10px;
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 23px;
    background-color: #aee865;
    transition: transform .3s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn-enorme:hover{
    background-color:#B9E482;
    transform: scale(1.1); /* Aumenta o tamanho do botão */
}

.btn-enorme img {
    height: 70px;
}

/* Estilizando o modal */
.modal {
    display: none; /* Começa invisível */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
    justify-content: center;
    align-items: center;
}

/* Exibir modal quando o link for ativado */
.modal:target {
    display: flex;
}

/* Conteúdo do modal */
.modal-content {
    background: white;
    padding: 6px;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.edit-perfil h2 {
    margin-top: 20px;
}

form {
    position: absolute;
    margin-top: 30px;
    transition: .5s;
    width: 300px;
    height: 400px;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.input-despesa{
    margin-top: 40px;
}
.input-name {
    margin-top: 40px;
}

.input-email {
    margin-top: 40px;
    margin-bottom: 40px;
}

.input-senha {
    margin-bottom: 40px;
}


.modal-content input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content .form-botao {
    background-color: #AEE865;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transição para o aumento */
}

.form-botao:hover {
    background-color:#B9E482;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-27px);
    cursor: pointer;
}

.campo-senha {
    position: relative;
    display: flex;
    align-items: center;
}

.campo-senha i {
    position: absolute;
    right: 10px;
    cursor: pointer;
    transform: translateY(-19px);
}

/************** RESPONSIVIDADE *************/
@media(max-width: 825px) {
    .container{
        display: flex;
        flex-direction: column;
        height: 78vh;
    }
}

@media (max-width: 600px) {
    .header i {
        position: absolute;
        right: 50px;
        top: 78px;
        transform: translateY(-100%);
        
    }
}






