.body{
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.header {
display: flex;
align-items: center;
justify-content:space-around;
padding: 20px;
position: relative;
width: 100%;
}

.header img {
height: 45px;
}

.header i {
position: absolute;
right: 100px;
top: 78px;
transform: translateY(-160%);
cursor: pointer;
}

.btn-success {
    background-color: #aae865 !important;
    border-style: none !important;
    color: #000 !important;
}


.dropdown-menu-scroll {
    max-height: 200px; /* Define altura máxima */
    overflow-y: auto; /* Adiciona rolagem vertical */
}

.btn-filte{
    background-color:#aee865;
    padding: 7px;
    width: 100px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.table-header {
    margin: 10px 20px;
    align-items: center;
    justify-items: center;
}

.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

.col-main {
    background-color: #aae865;
}

.table-hover td {
    cursor: pointer;
}

.table-body{
    width: 50%;
    margin-left: 25%;
    max-height: 450px;
    background-color: #fffb;
    box-shadow: 0 .2rem .8rem #0005;
    border-radius: 6px;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}


  .table-header h1 {
    text-align: center;
    color: #333;
    margin-bottom: 0.5rem;
  }

  .container-main {
    margin-bottom: 2rem;
  }

  .btn-success {
    background-color: #aae865 !important;
    border-color: #aae865 !important;
  }

  .scroll-wrapper {
    max-height: 300px;
    overflow-y: auto;
  }

  .table-fixed {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
  }

  .table-fixed thead th {
    position: sticky;
    top: 0;
    background-color: #aae865 !important;
    color: #000000;
    z-index: 10;
    padding: 16px;
  }

  .table-fixed tfoot td,
  .table-fixed tfoot th {
    position: sticky;
    bottom: 0;
    background-color: #aae865 !important;
    color:  #000000;
    padding: 16px;
    z-index: 10;
  }

  .table-fixed td,
  .table-fixed th {
    padding: 16px;
    font-size: 1rem;
  }

  .table-fixed th:first-child,
  .table-fixed td:first-child {
    text-align: left;
    width: 60%;
  }

  .table-fixed th:last-child,
  .table-fixed td:last-child {
    text-align: right;
    width: 40%;
  }
  
  .scroll-wrapper::-webkit-scrollbar {
    width: 6px;
  }

  .scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

/************** RESPONSIVIDADE *************/

@media (max-width: 700px) {
    .header i {
        position: absolute;
        right: 50px;
        top: 78px;
        transform: translateY(-160%);
        
    }
}
