<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/style/home.css">
    <link rel="stylesheet" href="/view/style/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Desenrola.i</title>
</head>
<body>
    <main class="main">
        <section class="conteudo">
        <div class="conteudo-escrito">
            <h1 class="conteudo-titulo">Enrolado com suas despesas?</h1>
            <img class="conteudo-image" src="/view/images/logo-desenrolai.svg" alt="Imagem da logo Desenrola.i">
            <button id="abrirModalSing" class="conteudo-botao">Entrar</button>
        </div>
        <img src="/view/images/image-telefone.svg" class="conteudo-image-telefone" alt="Imagem de um telefone">
    </section>
    </main>

    <div id="modal" class="modal">
        <div class="modal-content">
            <a class="fechar" id="fecharModalSing">&times;</a> <!-- fecha o modal -->

            <div class="btnForm">
                <div class="btnColor"></div>
                    <button id="btnSignin">Entrar</button>
                    <button id="btnSignup">Cadastrar</button>
            </div>

            <form id="login">
                <input type="email" placeholder="Digite seu e-mail" class="input-email">
                <div class="password-container">
                    <input type="password" id="senha" placeholder="Digite sua senha" class="input-senha" required/>
                    <i class="fa-solid fa-eye" id="toggleSenha"></i>
                </div>
                <button class="form-botao" id="btnLogin" onclick="window.location.href='menu.html'">Entrar</button>
            </form>

            <form id="signup">
                <input type="text" placeholder="Digite seu nome" class="input-name">
                 <input type="email" placeholder="Digite seu e-mail" class="input-email">
                 <div class="campo-senha">
                    <input type="password" id="passwordSignup" placeholder="Digite sua senha" class="input-senha" required/>
                    <i class="fa-solid fa-eye" id="togglePasswordSignup"></i>
                </div>                
                 <button class="form-botao" id="btnCadastrar">Cadastrar</button>
            </form>
        </div>
    </div>   

    <script src="/view/script/home.js"></script>
</body>
</html>